@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    text-decoration-line: none;
  }
  [role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareNeo-Variable';
  }
  header{
    width: 100vw;
    height: 80px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgb(245, 245, 245);
  }
  .header-container{
    width: 980px;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .header-box1{
    width: 350px;
    height: 60px;
    /* background-color: blue; */
    display: flex;
    margin: 0 10px;
  }
  .logo{
    width: 150px;
    height: 60px;
  }
  .logo img{
    width: 140px;
    height: 60px;
  }
  .header-nav{
    width: 200px;
    height: 45px;
    /* background-color: aliceblue; */
    margin: 0 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* position: absolute; */
  }
  .header-nav li {
    list-style: none;
    font-size: 15px;
    /* font-weight: bold; */
  }
  .header-box2{
    width: 150px;
    height: 30px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0;
    margin: 0 10px;
  }
  .header-box2 li{
    list-style: none;
    font-size: 14.5px;
    margin: 0 5px;
    /* font-weight: bold; */
  }
main{
    width: 100vw;
    height: 1000px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
}
.main-container{
    width: 980px;
    height: 1000px;
    /* background-color: aqua; */
}
.main-box1{
    width: 980px;
    height: 617px;
    /* background-color:red; */
}
.main-box1-titlebox{
    width: 980px;
    height: 52px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
}
.main-box1-title{
    height: 32px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    /* background-color: blueviolet; */
}
#title1{
    margin: 5px;
}
#title2{
    font-size: 14px;
    font-weight: normal;
    margin: 0 5px;
}
.content-container{
    width: 980px;
    height: 700px;
    margin: 30px 0;
    /* background-color: antiquewhite; */
}
.content-form{
    width: 960px;
    height: 700px;
    /* background-color: aquamarine; */
    margin: 0 10px;
}
.content-title{
    width: 960px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    /* background-color: pink; */
}
.content-title input{
    width: 900px;
    height: 25px;
    /* background-color: bisque; */
    border: 0.5px solid gray;
    border-radius: 2px;
    margin: 0 5px;
}
.content-nickname{
    width: 960px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: palevioletred; */
    font-size: 14px;
}
.writer-nickname{
    width: 894px;
    height: 25px;
    border: 0.5px solid gray;
    border-radius: 2px;
    margin: 0 5px;
    padding: 3px;
}
.content-content{
    width: 960px;
    height: 500px;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    /* background-color: yellow; */
    padding: 10px 0;
}
/* .content-content input{
    width: 900px;
    height: 480px;
    /* background-color: bisque; */
    /* border: 0.5px solid gray;
    border-radius: 2px;
    margin: 0 5px; 
} */
#writing-area{
  width: 892px;
  height: 480px;
  margin: 0 5px;
  padding: 4px;
}
.addfile{
    width: 980px;
    height: 40px;
    /* background-color: papayawhip; */
    text-align: center;
    line-height: 50px;
}
.addfile-text{
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  font-size: 13px;
}
.addfile-text1{
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
  /* background-color: blue; */
}
.addfile-text2{
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  /* background-color: pink; */
}
.addfiles{
  width: 980px;
  height: 40px;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 13px;
  /* background-color: yellow; */
  font-size: 13px;
}
.addfiles1{
  width:920px ;
  height: 40px;
  /* background-color: red; */
  display: flex;
  align-items: center;
}
.addfiles button{
  width: 60px;
  height: 28px;
}
.filechoice{
  width: 210px;
  height: 23px;
  display: flex;
  align-items: center;
  padding: 2px;
  border: 0.5px solid gray;
  margin: 0 10px;
  border-radius: 2px;
}
.buttons{
    width: 960px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buttons button{
    width: 57px;
    height: 23px;
    font-size: 14px;
    border-radius: 2px;
    border: none;
}
#button1{
    background-color: rgb(197, 194, 194);
    color: white;
    margin: 0 5px;
}
.button2{
    margin: 0 10px 0 0;
    background-color: black;
}
footer{
    width: 100vw;
    height: 130px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-size: 13px;
    color: gray;
    
    /* 푸터 하단 고정  */
  
    /* position : absolute;
    bottom : 0; */
  }
  .footer-01{
    width:100vw;
    height: 80px;
    border-bottom: 0.5px solid rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-01-01 div{
    width: auto;
    height: 20px;
    margin:  5px 0;
    /* background-color: aquamarine; */
  }
  .footer-02{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .footer-02-01{
    width: 980px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-02-01 div{
    margin: 0 10px;
  }
#button1 , #button2{
    color: white;
}
#button2{
    background-color: black;
    color: white;
}
#privacy-button{
    color: gray;
}