@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.logo {
  cursor: pointer;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-decoration-line: none;
}
[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'NanumSquareNeo-Variable';
}
header{
  width: 100vw;
  height: 80px;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid rgb(245, 245, 245);
}
.header-container{
  width: 980px;
  height: 80px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-box1{
  width: 350px;
  height: 60px;
  /* background-color: blue; */
  display: flex;
  margin: 0 10px;
}
.logo{
  width: 150px;
  height: 60px;
}
.logo img{
  width: 140px;
  height: 60px;
}
.header-nav{
  width: 200px;
  height: 45px;
  /* background-color: aliceblue; */
  margin: 0 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* position: absolute; */
}
.header-nav li {
  list-style: none;
  font-size: 15px;
  /* font-weight: bold; */
}
.header-box2{
  width: 130px;
  height: 30px;
  /* background-color: blueviolet; */
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0;
  margin: 0 10px;
}
.header-box2 li{
  list-style: none;
  font-size: 15px;
  /* font-weight: bold; */
}
/* ----------메인 시작----------- */
.main-container-outline{ /*헤더 전체 틀*/
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
}
.main-container{
  width:500px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.main-container-up{
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
}
.main-container-down{
  width: 100%;
  height: 800px;
  flex-direction: column;
  margin-top: 50px;
  border-top: 0.5px solid rgb(245, 245, 245); 
}
.main-container-down-section01{
margin-top: 30px;
}

.main-label1{
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;

  margin-top: 30px;
}
.main-l1-d1{
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(204, 209, 212);
  letter-spacing: -0.3px;
}
.main-label1-input{
  display: inline-block;
  width: 100%;
  padding: 8px 15px 9px;
  border: 1px solid rgb(204, 209, 212);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
}

.main-b1{
  margin-top: 10px;
  width: 100%;
  height: 45px;
  padding: 0px;
  background: rgb(247, 248, 250);
  color: rgb(194, 200, 204);

  border: 1px solid transparent;
  border-color: rgb(218, 220, 224);

  line-height: 20px;
  font-size: 17px;
}
.main-container-section{
  margin-bottom: 30px;
}
/* 이메일 인증 번호 란 시작*/
.main-container-section2{
margin-top: -20px;
}
.main-label1-input2{
  display: inline-block;
  width: 500px;
  padding: 8px 15px 9px;
  border: 1px solid rgb(204, 209, 212);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;

  /* margin-bottom: 0px; */
  
  /* position: absolute; */
}
.main-b3{
  width: 70px;
  height: 100%;
  padding: 0px;
  background: rgb(247, 248, 250);
  color: rgb(194, 200, 204);

  border: 1px solid transparent;
  border-color: rgb(218, 220, 224);
  border-radius: 0 4px 4px 0;

  position: absolute;
  right: 0px;
  /* top:5px */

  font-size: 17px;
}

.main-c-s-d1{
  display: flex;
  position: relative;
}
.main-time{
  position: absolute;
  right: 80px;
  top:10.5px;

  /* color:rgb(194, 200, 204);; */
}



/* 이메일 인증 번호 란 끝*/

hr{
  padding: 0px;
  height: 1px;
  border: none;
  background-color: rgb(234, 237, 239);
  margin: 18px 0px;
}
.main-c-s{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;

  margin-top: 20px;
}

.checkbox-a{
  margin-left: 6px;
  color: rgb(47, 52, 56);
}
.checkbox-s{
  font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.3px;
    border-bottom:0.5px solid #bebebe
}
/* 모달창 시작 */
.modal{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
/* 모달창 중앙 맞추기 */

  display:none;

  background-color: rqba(0,0,0,0.4);
}
.modal.show{
  display: block;
}
.modal_body{
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translateX(-50%) translateY(-50%);
/* 모달창 중앙 맞추기  */

  width:400px;
  height: 700px;
  padding: 40px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
/* 수평위치, 수직위치, 흐림정도, 확산정도
  (그림자색) */


}


.btn-open-popup{
  margin-left: 6px;
  color: black;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.3px;

  border:none;
  border-bottom:0.5px solid #d2d2d2;
  background-color: white;
}

.modal_span{
  display: block;
  text-align: left;
}

/* 모달창 끝 */
.span-p{
  display: inline-block;
  padding-left: 2px;
  font-size: 12px;
  color: rgb(143, 146, 147);
}
.main-checkbox {
  cursor: pointer;
}
.main-b2{
  margin-top: 10px;
  width: 100%;
  height: 45px;
  padding: 0px;
  background: rgb(247, 248, 250);
  /* color: rgb(194, 200, 204); */

  border: 1px solid transparent;
  border-color: rgb(218, 220, 224);

  line-height: 20px;
  font-size: 17px;
}
/* ----------메인 종료----------- */

footer{
  width: 100vw;
  height: 130px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-size: 13px;
  color: gray;
  
  /* 푸터 하단 고정  */

  /* position : absolute;
  bottom : 0; */
}
.footer-01{
  width:100vw;
  height: 80px;
  border-bottom: 0.5px solid rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-01-01 div{
  width: auto;
  height: 20px;
  margin:  5px 0;
  /* background-color: aquamarine; */
}
.footer-02{
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
}
.footer-02-01{
  width: 980px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-02-01 div{
  margin: 0 10px;
}
