@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    text-decoration-line: none;
  }
  [role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareNeo-Variable';
  }
  header{
    width: 100vw;
    height: 80px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgb(245, 245, 245);
  }
  .header-container{
    width: 980px;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .header-box1{
    width: 350px;
    height: 60px;
    /* background-color: blue; */
    display: flex;
    margin: 0 10px;
  }
  .logo{
    width: 150px;
    height: 60px;
  }
  .logo img{
    width: 140px;
    height: 60px;
  }
  .header-nav{
    width: 200px;
    height: 45px;
    /* background-color: aliceblue; */
    margin: 0 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* position: absolute; */
  }
  .header-nav li {
    list-style: none;
    font-size: 15px;
    /* font-weight: bold; */
  }
  .header-box2{
    width: 130px;
    height: 30px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0;
    margin: 0 10px;
  }
  .header-box2 li{
    list-style: none;
    font-size: 15px;
    /* font-weight: bold; */
  }
/*-----------헤더 종료-----------*/
main{/*main결정*/
    width: 100%;
    height: auto;
    display: block;
}
.main-outline-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}
.m-c-banner-container{
    width: 980px;
    height: 450px;
}
div.main-outline-container-banner-container{/*수업참고 js.day04*/
    margin:0 auto;
    width: 980px;
    overflow:hidden;
    position:relative;
    height: fit-content;
}

div.banner{
    width: 2940px;
    transition: transform 0.3s; /* transform 동작시 애니메이션 효과 0.5초*/
}

div.img{
    width : 980px;
    float :left;
}

div.img img{
    width:100%;
    display:block;
    border-radius: 10px;
}

/* div.arrow{
    position: absolute;
    width: 30px;
    background-color: gray;
    height: 100%;
    line-height: 450px;
    text-align: center;
    font-size: 2rem;
    color: black;
    z-index: 1;
    cursor : pointer;
}

div.next{
    right: 0;
}	 */
/*---------main banner 종료----------*/
.main-outline-community-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.main-outline-community-container-section{
    width: 980px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.main-outline-community-container-sec01,
.main-outline-community-container-sec02{
    width: 450px;
    height: 450px;
    border: 1px solid black;
}
/* .m-o-c-c-c-sec02{
    margin-right: 50px;
} */
.main-communitybox{
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
}
.main-communitybox-title{
  width: 450px;
  height: 50px;
  /* background-color: aqua; */
}
.main-communitybox-contentbox{
  width: 450px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: azure; */
}
.main-communitybox-titleline{
  width: 300px;
  height: 60px;
  border-bottom: 1px solid black;
  /* background-color: blue; */
}
.main-communitybox-nickname{
  width: 100px;
  height: 60px;
  border-bottom: 1px solid black;
  /* background-color: brown; */
  justify-content: center;
  
}
.main-communitybox-titleline,
.main-communitybox-nickname{
  display: flex;
  align-items: center;
}
/*-----------main community*/
footer{
  width: 100vw;
  height: 130px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-size: 13px;
  color: gray;
  
  /* 푸터 하단 고정  */

  /* position : absolute;
  bottom : 0; */
}
.footer-01{
  width:100vw;
  height: 80px;
  border-bottom: 0.5px solid rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-01-01 div{
  width: auto;
  height: 20px;
  margin:  5px 0;
  /* background-color: aquamarine; */
}
.footer-02{
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
}
.footer-02-01{
  width: 980px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-02-01 div{
  margin: 0 10px;
}
/*-----------footer 종료--------------*/