@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    text-decoration-line: none;
  }
  [role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareNeo-Variable';
  }
  header{
    width: 100vw;
    height: 80px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgb(245, 245, 245);
  }
  .header-container{
    width: 980px;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .header-box1{
    width: 350px;
    height: 60px;
    /* background-color: blue; */
    display: flex;
    margin: 0 10px;
  }
  .logo{
    width: 150px;
    height: 60px;
  }
  .logo img{
    width: 140px;
    height: 60px;
  }
  .header-nav{
    width: 200px;
    height: 45px;
    /* background-color: aliceblue; */
    margin: 0 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* position: absolute; */
  }
  .header-nav li {
    list-style: none;
    font-size: 15px;
    /* font-weight: bold; */
  }
  .header-box2{
    width: 130px;
    height: 30px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0;
    margin: 0 10px;
  }
  .header-box2 li{
    list-style: none;
    font-size: 15px;
    /* font-weight: bold; */
  }
/*-----------헤더 종료-----------*/
/* ----------메인 시작----------- */
.main-container-outline{ /*헤더 전체 틀*/
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
}
.main-container{
    width:700px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.main-container-up{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid rgb(245, 245, 245);
}
.main-container-down{
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    margin: 0 auto;
    margin-bottom: 100px;
    /* border: 1px solid black;  */
}
.main-container-down-section01{
    width: 600px;
    height: 20px;
    display: flex;
    justify-content: end;
    margin: 0 auto;
}
.main-container-down-section01-box{
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
    /* text-decoration: underline; */
    
}
.main-container-down-section01-box-button{
  color: red;
  background-color: white;
  border: none;
  border-bottom: 0.5px solid red;
}
.main-container-down-section02{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
}
.main-container-down-section03{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
}
.main-container-down-section04{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin: 60px 30px;
}
.main-container-down-section05{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin: 40px 30px;
}
.main-container-down-section02-box1{
    width: 70px;
    height: 40px;
    display: flex;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
}
.main-container-down-section02-box2{
  display: inline-block;
  width: 500px;
  padding: 8px 15px 9px;
  border: 1px solid rgb(204, 209, 212);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  margin-top: 10px;
  margin-left: 30px;
}
.main-container-down-section03-box1{
    width: 70px;
    height: 40px;
    display: flex;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
}
.main-container-down-section03-box2{
    display: inline-block;
  width: 500px;
  padding: 8px 15px 9px;
  border: 1px solid rgb(204, 209, 212);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  margin-top: 10px;
  margin-left: 30px;
}
.main-container-down-section04-box1{
    width: 70px;
    height: 40px;
    display: flex;
    margin: 10px 30px;
    justify-content: center;
    align-items: center;
}
.main-container-down-section04-box2{
    display: inline-block;
  width: 500px;
  padding: 8px 15px 9px;
  border: 1px solid rgb(204, 209, 212);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  margin-top: 10px;
  margin-left: 30px;
}
.main-container-down-section05-box1{
    width: 100px;
    height: 40px;
    display: flex;
    margin: 10px 30px;
    justify-content: center;
    align-items: center;
}
.main-container-down-section05-box2{
  display: inline-block;
  width: 500px;
  padding: 8px 15px 9px;
  margin-left: 30px;
  border: 1px solid rgb(204, 209, 212);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 10px;
  line-height: 21px;
}
.main-container-down-section06{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
.main-container-down-section06-button{
  margin-top: 10px;
  width: 150px;
  height: 45px;
  margin: 0 20px;
  font-size: 17px;
  background: rgb(247, 248, 250);
  border: 1px solid transparent;
  border-color: rgb(218, 220, 224);
}
.main-l1-d1{
  margin-bottom: 10px;
  margin-left: 32px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(204, 209, 212);
  letter-spacing: -0.3px;
}
.main-container-down-section07{
    width: 100%;
    height: 80px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    border-bottom: 0.5px solid rgb(245, 245, 245);
}
                        
/* ----------메인 종료----------- */
footer{
    width: 100vw;
    height: 130px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-size: 13px;
    color: gray;
    
    /* 푸터 하단 고정  */
  
    /* position : absolute;
    bottom : 0; */
  }
  .footer-01{
    width:100vw;
    height: 80px;
    border-bottom: 0.5px solid rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-01-01 div{
    width: auto;
    height: 20px;
    margin:  5px 0;
    /* background-color: aquamarine; */
  }
  .footer-02{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .footer-02-01{
    width: 980px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-02-01 div{
    margin: 0 10px;
  }
/*-----------footer 종료--------------*/

