<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오운완_관리자</title>
    <link rel="stylesheet" href="../../css/admin.css">
    <script defer src ="../../js/admin.js"></script>
</head>
<body>
    
    <header>
        <div class="header-container">
            <div class="header-box1">
                <div class="logo">
                    <a href="../../main/project/main.html">
                        <img src="../../img/logo.png" alt="">
                    </a>
                </div>
                <div class="header-nav">
                    <ul class="header-nav">
                        <li>
                            <a href="../../hmap/hmap.html">우리동네 헬스장</a>
                        </li>
                        <li>
                            <a href="../../board/project/community.html">커뮤니티</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-box2">
                <ul class="header-box2">
                    <li>
                        <a href="../../member/views/alarm.html">
                            <img src="../../img/bell3.png" alt="" class="header-box2-img">
                            </a>
                    </li>
                    <li>
                        <a href="../../member/views/admin.html">관리자</a>
                    </li>
                    <li>
                        <a href="../../main/project/main.html">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div class="main-container">

                <div class="main-box1-titlebox">
                    <div class="main-box1-title">
                        관리자 &gt; 회원 & 게시 글 관리 </div>
                    </div>
                <div class="main-box1-content">
                            <div class="main-box3-searchbox">
                                    <div>
                                        <span>
                                            ⊙ 검 색 어 :
                                        </span>
                                    </div>
                                <select name="search-target" id="">
                                    <option value="title">이메일</option>
                                    <option value="writer">닉네임</option>
                                </select>
                                <input type="text">
                                <button>검 색</button>
                            </div>
                </div>

                <!-- 회원 정보 창 시작-->
                <div class="main-box1-1">
                
                    <div class="main-box2-title">
                        <div class="main-box2-content-content">
                            <div class="main-box2-content-title">
                            회원번호
                            </div>
                            <div class="main-box2-content-email">
                            이메일
                            </div>
                            <div class="main-box2-content-nickname">닉네임</div>
                            <div class="main-box2-content-date">가입일</div>
                            <div class="main-box2-content-management">관리</div>
                        </div>
                    </div>

                    <div class="main-box2-1-title">
                        <div class="main-box2-content-content">
                            <div class="main-box2-content-title">
                            123123
                            </div>
                            <div class="main-box2-content-email">
                            euijin1028@gmail.com
                            </div>
                            <div class="main-box2-content-nickname">냐하하핳</div>
                            <div class="main-box2-content-date">2023-08-22</div>
                            <div class="main-box2-content-management">
                            <button onclick="call_confirm()" class="management_b">삭제</button>
                            </div>
                        </div>
                    </div>

                <!-- 회원 정보 창 끝-->
            <div class="main-box2">
                
                <div class="main-box2-title">
                    <div class="main-box2-content-content">
                        <div class="main-box2-2-content-number">
                        번호
                        </div>
                        <div class="main-box2-2-content-nickname">
                        닉네임
                        </div>
                        <div class="main-box2-2-content-title">제목</div>
                        <div class="main-box2-2-content-date">작성일</div>
                        <div class="main-box2-2-content-views">조회수</div>
                        <div class="main-box2-2-content-management">관리</div>
                    </div>
                </div>

                <div class="main-box2-content">


                <div class="main-box3-1-title">
                    <div class="main-box2-content-content">
                        <div class="main-box3-1-content-number">
                        1
                        </div>
                        <div class="main-box3-1-content-nickname">
                        냐하하핳
                        </div>

                            <div class="main-box3-1-content-title">
                            <a href="../../board/views/adminReadNT.html">
                                요즘 근손실 너무 심한데 저 어떻하죠? ㅜㅜ
                            </a>
                            </div>
                        <div class="main-box3-1-content-date">2023-08-22</div>
                        <div class="main-box3-1-content-views">11만</div>
                        <div class="main-box3-1-content-management"><button onclick="call_confirm2()"  class="management_b">
                        글삭제
                        </button></div>
                    </div>
                </div>

                <div class="main-box3-1-title">
                    <div class="main-box2-content-content">
                        <div class="main-box3-1-content-number">
                        2
                        </div>
                        <div class="main-box3-1-content-nickname">
                        냐하하핳
                        </div>
                        <div class="main-box3-1-content-title">
                        <a href="../../board/views/adminReadNT.html">
                            헬린이 여자 근유통이 빡센데 원래 이런가요
                        </a>
                        </div>
                        <div class="main-box3-1-content-date">2023-08-22</div>
                        <div class="main-box3-1-content-views">5</div>
                        <div class="main-box3-1-content-management"><button onclick="call_confirm2()"  class="management_b">
                        글삭제
                        </button></div>
                    </div>
                </div>

                <div class="main-box3-1-title">
                    <div class="main-box2-content-content">
                        <div class="main-box3-1-content-number">
                        3
                        </div>
                        <div class="main-box3-1-content-nickname">
                        냐하하핳
                        </div>
                        <div class="main-box3-1-content-title">
                        <a href="../../board/views/adminReadNT.html">
                            오늘 가입 했어요 >_< 잘부탁드립니다
                        </a>
                        </div>
                        <div class="main-box3-1-content-date">2023-08-21</div>
                        <div class="main-box3-1-content-views">90만</div>
                        <div class="main-box3-1-content-management"><button onclick="call_confirm2()"  class="management_b">
                        글삭제
                        </button></div>
                    </div>
                </div>
                
                <!-- 회원 게시글 끝 -->
                </div>
            </div>

            <div class="main-box3">
                <div class="main-box3-pagesbox">
                    <div class="main-box3-pages">
                        <a href="">
                            <span>
                            &lt; 이전
                            </span>
                        </a>
                        <a href="">
                            <span>1</span>
                        </a>
                        <a href="">
                            <span>2</span>
                        </a>
                        <a href="">
                            <span>3</span>
                        </a>
                        <a href="">
                            <span>
                            다음 &gt;
                            </span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="main-box4">

            </div>
        </div>
    </main>
    
    <footer>

        <div class="footer-01">
            <div class="footer-01-01">
               <div>(주)오운완 | 대표자 : 노의진(팀장), 이지윤(부팀장), 김민규, 이동현, 유대훈</div>
               <div>서울특별시 노원구 상계로 1길 34 5층 | 전화번호 : 02-933-5890</div>
            </div>
        </div>
        <div class="footer-02">
            <div class="footer-02-01">
                <div>ⓒ2023 OWW All Rights Reserved</div>
                <div>
                    <a href="../../main/project/privacy.html">개인정보처리방침</a>
                </div>
            </div>
        </div>

    </footer>
</body>
</html>