<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <link rel="stylesheet" href="../../css/alarmMy.css">
    <script defer src ="../../js/alarmMy.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-box1">
                <div class="logo"><a href="../../main/project/main.html"><img src="../../img/logo.png" alt=""></a></div>
                <div class="header-nav">
                    <ul class="header-nav">
                        <li>
                            <a href="../../hmap/hmap.html">우리동네 헬스장</a>
                        </li>
                        <li>
                            <a href="../../board/project/community.html">커뮤니티</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-box2">
                <ul class="header-box2">
                    <li>
                        <a href="../../member/views/alarm.html">
                          <img src="../../img/bell3.png" alt="" class="header-box2-img">
                          </a>
                    </li>
                    
                    <li>
                      <a href="../../member/project/login.html">
                        오늘은등운동 님
                      </a>
                  </li>

                    <li>
                        <a href="../../main/project/main.html">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="main-container">
            <div class="main-box1">
                <div class="main-box1-titlebox">
                    <div class="main-box1-title">알림
                    <img src="../../img/bell.png" alt="" class="box1-title-img">
                    </div>
                    
                </div>

                <div class="main-box1-content">
                신고받은 목록 입니다. 확인 하시고 주의 해주세요!
                </div>

            </div>
            
                <div class="main-box2-titlebox">
                    <div class="main-box2-title">최근 알림 목록 


                    </div>


                    <button class="pagesbox-b" onclick="call_confirm()" >삭제</button>
                </div>
                <div class="main-box2-content">
                    <div class="main-box2-content-content" id="content-category">
                      <div class="main-box2-content-count">
                        <input type="checkbox" class="all">
                      </div>
                        <div class="main-box2-content-title1">글제목</div>
                        <div class="main-box2-content-nickname">닉네임</div>
                        <div class="main-box2-content-date">작성날짜</div>
                    </div>

                   
                    <div class="main-box2-content-content">
                      <div class="main-box2-content-count">
                        <input type="checkbox" class="term">
                      </div>
                        <div class="main-box2-content-title">                          
                          헬린이 여자 근유통이 빡센데 원래 이런가요
                        </div>
                        <div class="main-box2-content-nickname">관리자</div>
                        <div class="main-box2-content-date">2023-08-22</div>

                    </div>
                    <div class="main-box2-content-content">
                      <div class="main-box2-content-count">
                        <input type="checkbox" class="term">
                      </div>
                        <div class="main-box2-content-title">
                          
                            헬린이 여자 근유통이 빡센데 원래 이런가요
                         

                        </div>
                        <div class="main-box2-content-nickname">관리자</div>
                        <div class="main-box2-content-date">2023-08-22</div>

                    </div>
                    <div class="main-box2-content-content">
                      <div class="main-box2-content-count">
                        <input type="checkbox" class="term">
                      </div>
                        <div class="main-box2-content-title">
                          헬린이 여자 근유통이 빡센데 원래 이런가요
                        </div>
                        <div class="main-box2-content-nickname">관리자</div>
                        <div class="main-box2-content-date">2023-08-22</div>

                    </div>

            
            <div class="main-box3">
                <div class="main-box3-pagesbox">
                    <div class="main-box3-pages">
                        <span><a href="#">&lt; 이전</a></span>
                        <span><a href="#">1</a></span>
                        <span><a href="#">2</a></span>
                        <span><a href="#">3</a></span>
                        <span><a href="#">다음 &gt;</a></span>
                    </div>
                </div>
                <div class="main-box3-searchpart">

                </div>
            </div>
            <!-- <div class="main-box4">
                <button><a id="writing-button" href="./">글쓰기</a></button>
            </div> -->
        </div>
    </main>
    <footer>
        <div class="footer-01">
            <div class="footer-01-01">
               <div>(주)오운완 | 대표자 : 노의진(팀장), 이지윤(부팀장), 김민규, 이동현, 유대훈</div>
               <div>서울특별시 노원구 상계로 1길 34 5층 | 전화번호 : 02-933-5890</div>
            </div>
        </div>
        <div class="footer-02">
            <div class="footer-02-01">
                <div>ⓒ2023 OWW All Rights Reserved</div>
                <div>
                    <a href="../../main/project/privacy.html">개인정보처리방침</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>