<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/findpw.css">
    <title>비밀번호찾기</title>
</head>
<body>
    <div class="header-container-outline"><!--헤더의 시작-->
        <header>
            <div class="header-container">
                <div class="header-box1">
                    <div class="logo">
                        <a href="/main/pro/main.html">
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="header-nav">
                        <ul class="header-nav">
                            <li>
                                <a href="/hmap/hmap.html">우리동네 헬스장</a>
                            </li>
                            <li>
                                <a href="/board/pro/community.html">커뮤니티</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-box2">
                    <ul class="header-box2">
                        <li>
                            <a href="/member/views/mypage.html">xxx님</a>
                        </li>
                        <li>
                            <a href="/main/pro/main.html">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div><!--헤더의 종료-->
    <main>
        <div class="main-container-outline"><!--메인 시작-->
            <div class="main-container">
                <div class="main-container-up">
                    <h1>비밀번호 찾기</h1>
                </div>
                <div class="main-container-down">
                    <div class="main-container-down-section01">
                        <div class="main-container-down-section01-box1">
                            이메일
                        </div>
                        <label>
                            <input type="emall" name="email" placeholder="이메일" value class="main-container-down-section01-box2">
                        </label>

                    </div>
                    <p class="main-container-down-msg">입력하신 이메일로 임시 비밀번호가 전송됩니다.</p>
                    <div class="main-container-down-section02">
                        <button class="main-container-down-section02-button" name="emailPw" type="button">
                            전  송

                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="footer-container-outline"><!--footer 시작-->
        <footer>

            <div class="footer-01">
                <div class="footer-01-01">
                   <div>(주)오운완 | 대표자 : 노의진(팀장), 이지윤(부팀장), 김민규, 이동현, 유대훈</div>
                   <div>서울특별시 노원구 상계로 1길 34 5층 | 전화번호 : 02-933-5890</div>
                </div>
            </div>
            <div class="footer-02">
                <div class="footer-02-01">
                    <div>ⓒ2023 OWW All Rights Reserved</div>
                    <div>
                        <a href="/main/pro/privacy.html">개인정보처리방침</a>
                    </div>
                </div>
            </div>
    
        </footer>
    </div><!--footer종료-->
</body>
</html>