<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mypage/mypage.css">
    <script defer src ="/mypage/mypage.js"></script>
    <title>회원정보수정</title>
</head>
<body>
    <div class="header-container-outline"><!--헤더의 시작-->
        <header>
            <div class="header-container">
                <div class="header-box1">
                    <div class="logo">
                        <a href="../main/main.html">
                            <img src="../admin/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="header-nav">
                        <ul class="header-nav">
                            <li>
                                <a href="../hmap/hmap.html">우리동네 헬스장</a>
                            </li>
                            <li>
                                <a href="../community/community.html">커뮤니티</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-box2">
                    <ul class="header-box2">
                        <li>
                            <a href="../mypage/mypage.html">xxx님</a>
                        </li>
                        <li>
                            <a href="../main/main.html">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div><!--헤더의 종료-->
    <main>
        <div class="main-container-outline"><!--메인 시작-->
            <div class="main-container">
                <div class="main-container-up">
                    <h1>회원정보 수정</h1>
                </div>
                <div class="main-container-down">
                    <div class="main-container-down-section01">
                        <div class="main-container-down-section01-box">
                            <button onclick="call_confirm()" class="main-container-down-section01-box-button">회원탈퇴</button>
                        </div>
                    </div>
                    <div class="main-container-down-section02">
                        <div class="main-container-down-section02-box1">
                            <strong>이메일</strong>
                        </div>
                        <label>
                            <input type="emall" name="email" placeholder="이메일" value class="main-container-down-section02-box2">
                        </label>
                    </div>
                    <div class="main-container-down-section03">
                        <div class="main-container-down-section03-box1">
                            <strong>닉네임</strong>
                        </div>
                        <div class="main-l1-d1">
                            다른 유저와 겹치지 않도록 입력해주세요. (2~15자)
                        </div>
                        <label>
                            <input type="nickname" name="nickname" placeholder="닉네임" value class="main-container-down-section03-box2">
                        </label>
                    </div>
                    <div class="main-container-down-section04">
                        <div class="main-container-down-section04-box1">
                            <strong>비밀번호</strong>
                        </div>
                        <div class="main-l1-d1">
                            영문, 숫자를 포함한 8~12자리의 비밀번호를 입력해주세요.
                        </div>
                        <label>
                            <input type="password" name="password" placeholder="비밀번호" value class="main-container-down-section04-box2">
                        </label>
                    </div>
                    <div class="main-container-down-section05">
                        <div class="main-container-down-section05-box1">
                            <strong>비밀번호 확인</strong>
                        </div>
                        <div class="main-l1-d1">
                            비밀번호를 한 번 더 입력해 주세요.
                        </div>
                        <label>
                            <input type="password" name="password" placeholder="비밀번호 확인" value class="main-container-down-section05-box2">
                        </label>
                    </div>
                    <div class="main-container-down-section07">

                    </div>
                    <div class="main-container-down-section06">
                        <button class="main-container-down-section06-button"  type="button">
                            수  정
                        </button>
                        <button class="main-container-down-section06-button"  type="button">
                            <a href="../main/main.html">취  소</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="footer-container-outline"><!--footer 시작-->
        <footer>

            <div class="footer-01">
                <div class="footer-01-01">
                   <div>(주)오운완 | 대표자 : 노의진(팀장), 이지윤(부팀장), 김민규, 이동현, 유대훈</div>
                   <div>서울특별시 노원구 상계로 1길 34 5층 | 전화번호 : 02-933-5890</div>
                </div>
            </div>
            <div class="footer-02">
                <div class="footer-02-01">
                    <div>ⓒ2023 OWW All Rights Reserved</div>
                    <div>
                        <a href="../main/privacy.html">개인정보처리방침</a>
                    </div>
                </div>
            </div>

        </footer>
    </div><!--footer종료-->
</body>

</html>