<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(관리자)공지사항 글 작성</title>
    <link rel="stylesheet" href="../../css/adminWriting.css">
    <script defer src="../../js/adminWriting.js"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-box1">
                <div class="logo"><a href="../../main/pro/main.html"><img src="../../img/logo.png" alt=""></a></div>
                <div class="header-nav">
                    <ul class="header-nav">
                        <li>
                            <a href="../../hmap/hmap.html">우리동네 헬스장</a>
                        </li>
                        <li>
                            <a href="../pro/community.html">커뮤니티</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-box2">
                <ul class="header-box2">
                    <li>
                        <a href="../../member/views/admin.html">관리자님</a>
                    </li>
                    <li>
                        <a href="../../main/pro/main.html">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="main-container">
            <div class="main-box1-titlebox">
                <div class="main-box1-title"><div id="title1"><a href="../pro/community.html">커뮤니티</a></div><div id="title2">&gt;</div><div id="title2"><a href="../pro/notice.html">공지사항</a></div></div>
            </div>
            <div class="content-container">
                <form class="content-form" action="">
                    <div class="content-title">제목 <input type="text"></div>
                    <div class="content-nickname">닉네임 <input class="writer-nickname" value="관리자" readonly></div>
                    <div class="content-content">내용 <textarea name="" id="writing-area"></textarea></div>
                    <div class="addfile">
                        <div class="addfile-text">
                            <div class="addfile-text1">첨부파일</div>
                            <div class="addfile-text2">'png','gif','jpg','jpeg'파일만 업로드가 가능합니다.</div>
                        </div>
                    </div>
                    <div class="addfiles">
                        <div class="addfiles1">
                        <form action="">
                            <input type="file">
                        </form>
                        </div>
                    </div>
                    <div class="buttons"><button id="button1" onclick="call_confirm1()"><a id="button1" href="../pro/notice.html">취소</a></button><button class="button2" onclick="call_confirm2()"><a id="button2" href="../views/adminReadNT.html">등록</a></button></div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-01">
            <div class="footer-01-01">
               <div>(주)오운완 | 대표자 : 노의진(팀장), 이지윤(부팀장), 김민규, 이동현, 유대훈</div>
               <div>서울특별시 노원구 상계로 1길 34 5층 | 전화번호 : 02-933-5890</div>
            </div>
        </div>
        <div class="footer-02">
            <div class="footer-02-01">
                <div>ⓒ2023 OWW All Rights Reserved</div>
                <div>
                    <a href="../../main/pro/main.html">개인정보처리방침</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>